.blk {
    position: relative;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    font-family: 'Miltonian Tattoo', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    height: 70vh;
    z-index: 70;
    transition: 1s;
}

.clk1 {
    background-image: url('../../assets/img/614E1EED-80B2-41DC-9B51-33D8C69C0A17_1_201_a.jpeg');

}
.clk1:hover {
    background-image: url('../../assets/img/pexels-clive-kim-4220967.jpeg');

}


.clk2 {
    background-image: url('../../assets/img/2C9FA429-C31F-4257-B32C-5A31CE80CFEE_1_201_a.jpeg');

}
.clk2:hover {
    background-image: url('../../assets/img/pexels-lumn-604969.jpeg');
}



.clk3 {
    background-image: url('../../assets/img/61BB5C8E-F9D2-4C7D-97E7-26FE7CB2585A_1_201_a.jpeg');

}
.clk3:hover {
    background-image: url('../../assets/img/pexels-dominika-roseclay-1244700.jpeg');
}




.mio {
    width: 100%;
    height: 100%;
}

.mio:hover {
    background-color: rgba(0, 0, 0, 0.609);
}

.tree {
    padding-top: 50%;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.tree:hover {
    opacity: 1;
}