<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class="blk clk1">
                <div class="mio text-center">
                    <h1 class="tree">Nature</h1>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class="blk clk2">
                <div class="mio text-center">
                    <h1 class="tree">Food</h1>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class="blk clk3">
                <div class="mio text-center">
                    <h1 class="tree">Wedding</h1>
                </div>
            </div>

        </div>
    </div>
</div>