<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class="blk clk1">
                <div class="mio text-center">
                  <div class="tree">
                    <h1>Nature</h1>
                    <div class="btn bcck"> Gallery</div>
                  </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class="blk clk2">
                <div class="mio text-center">
                    <div class="tree">
                      <h1>Food</h1>
                      <div class="btn bcck"> Gallery</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class="blk clk3">
                <div class="mio text-center">
                  <div class="tree">
                    <h1>Wedding</h1>
                    <div class="btn bcck"> Gallery</div>
                  </div>
                </div>
            </div>

        </div>
    </div>
</div>