<!-- <div class="banner"></div> -->


<div class="container about-cont mx-auto">
    <h1 class="" style="font-family: 'Montserrat', sans-serif;text-transform: uppercase;letter-spacing: 4px; font-size: 4rem; display: flex; justify-content: center; padding: 3%;">
        Get to know our Team</h1>
    <p id="list">Gabriel Skraba &nbsp;| Tamara Zolnajic &nbsp;| Andrea Bicskei &nbsp;| Branko Babic</p>

    <div class="card" *ngFor="let person of people">

        <div class=" imgBox ">
            <img src="{{person.img1}}">
            <img src="{{person.img2}}">
        </div>

        <div class="details ">
            <div class="content ">
                <h2>{{person.fname}} {{person.lname}}'{{person.byear}}<br></h2>
                <p><b>Experience:</b> {{person.job}}</p>
                <p><b>Hobbies:</b> {{person.xhobbies}}</p>
                <p><b>Languages:</b> {{person.xlanguage}}</p>
                <p><b>Quote:</b> {{person.xquote}}</p>
                <p><b>Hobbies:</b> {{person.xhobbies}}</p>
                <div class="social-icons ">
                    <a href=" "><i class="fa fa-facebook " aria-hidden="true "></i></a>
                    <a href=" "><i class="fa fa-twitter " aria-hidden="true "></i></a>
                    <a href=" "><i class="fa fa-linkedin " aria-hidden="true "></i></a>
                    <a href=" "><i class="fa fa-instagram " aria-hidden="true "></i></a>
                </div>
            </div>
        </div>
    </div>
</div>










<!-- <section>
        <div class="imgBx smanjenje ">
            <img src="../../assets/img/pexels-clive-kim-4220967.jpeg ">
        </div>
        <div class="content ">
            <h2>Tamara Z</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis officia doloremque quasi sunt cum enim earum eveniet sapiente vero laborum, rerum voluptatibus totam, repellendus incidunt omnis itaque, tenetur ex. Quae, magni eveniet? Labore
                voluptatum similique mollitia, quisquam accusantium odio rem impedit nesciunt maiores facilis tempora iste est dolores dolor debitis consectetur hic ex iure, in possimus natus iusto vel sint! Dolorum iure consectetur debitis accusantium
                provident aspernatur iusto ea neque, quasi nihil amet tenetur delectus dignissimos fuga exercitationem! Assumenda earum quod nemo dignissimos quam dicta laborum quibusdam! Vero, est deleniti culpa sed tempore sunt delectus doloremque eos!
                Distinctio ex repellendus veniam hic deserunt aliquid! Quam, magnam, suscipit molestias facere eum sed rem eaque accusantium in aperiam, ex obcaecati soluta nam? Enim accusamus minus sed! Dolorem, molestiae modi! Iusto quas inventore facilis
                at beatae qui cum. Distinctio soluta, dolores repudiandae, atque molestiae voluptatum quod accusantium illum omnis dolorum nostrum, in nihil voluptatem quae amet! Ea, facere atque! Id, modi. Qui, quo. Eum quam esse amet dolore quibusdam
                nisi iste odit rem quidem repellendus atque officiis fuga mollitia dolor, dolores, officia distinctio! Incidunt perferendis ipsam numquam, praesentium debitis nulla ratione, inventore nisi fuga libero, quam quae voluptas. Ipsa praesentium
                laboriosam iste alias.</p>
            <p> Lorem lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptatum sunt similique error, voluptate repellat facere possimus doloremque neque cum, nisi exercitationem ipsam quibusdam officiis quasi obcaecati consectetur, laborum
                asperiores?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis officia doloremque quasi sunt cum enim earum eveniet sapiente vero laborum, rerum voluptatibus totam, repellendus incidunt omnis itaque, tenetur ex. Quae, magni eveniet? Labore
                voluptatum similique mollitia, quisquam accusantium odio rem impedit nesciunt maiores facilis tempora iste est dolores dolor debitis consectetur hic ex iure, in possimus natus iusto vel sint! Dolorum iure consectetur debitis accusantium
                provident aspernatur iusto ea neque, quasi nihil amet tenetur delectus dignissimos fuga exercitationem! Assumenda earum quod nemo dignissimos quam dicta laborum quibusdam! Vero, est deleniti culpa sed tempore sunt delectus doloremque eos!
                Distinctio ex repellendus veniam hic deserunt aliquid! Quam, magnam, suscipit molestias facere eum sed rem eaque accusantium in aperiam, ex obcaecati soluta nam? Enim accusamus minus sed! Dolorem, molestiae modi! Iusto quas inventore facilis
                at beatae qui cum. Distinctio soluta, dolores repudiandae, atque molestiae voluptatum quod accusantium illum omnis dolorum nostrum, in nihil voluptatem quae amet! Ea, facere atque! Id, modi. Qui, quo. Eum quam esse amet dolore quibusdam
                nisi iste odit rem quidem repellendus atque officiis fuga mollitia dolor, dolores, officia distinctio! Incidunt perferendis ipsam numquam, praesentium debitis nulla ratione, inventore nisi fuga libero, quam quae voluptas. Ipsa praesentium
                laboriosam iste alias.</p>
            <p> Lorem lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque ea iure quod corporis. Ratione laboriosam ab pariatur nam rerum a maiores eligendi vel perspiciatis, debitis ea odit alias nobis earum?
            </p>

        </div>
    </section>
    <section>
        <div class="imgBx smanjenje ">
            <img src="../../assets/img/pexels-dominika-roseclay-1244700.jpeg ">
        </div>
        <div class="content ">
            <h2>Apple Watch</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis officia doloremque quasi sunt cum enim earum eveniet sapiente vero laborum, rerum voluptatibus totam, repellendus incidunt omnis itaque, tenetur ex. Quae, magni eveniet? Labore
                voluptatum similique mollitia, quisquam accusantium odio rem impedit nesciunt maiores facilis tempora iste est dolores dolor debitis consectetur hic ex iure, in possimus natus iusto vel sint! Dolorum iure consectetur debitis accusantium
                provident aspernatur iusto ea neque, quasi nihil amet tenetur delectus dignissimos fuga exercitationem! Assumenda earum quod nemo dignissimos quam dicta laborum quibusdam! Vero, est deleniti culpa sed tempore sunt delectus doloremque eos!
                Distinctio ex repellendus veniam hic deserunt aliquid! Quam, magnam, suscipit molestias facere eum sed rem eaque accusantium in aperiam, ex obcaecati soluta nam? Enim accusamus minus sed! Dolorem, molestiae modi! Iusto quas inventore facilis
                at beatae qui cum. Distinctio soluta, dolores repudiandae, atque molestiae voluptatum quod accusantium illum omnis dolorum nostrum, in nihil voluptatem quae amet! Ea, facere atque! Id, modi. Qui, quo. Eum quam esse amet dolore quibusdam
                nisi iste odit rem quidem repellendus atque officiis fuga mollitia dolor, dolores, officia distinctio! Incidunt perferendis ipsam numquam, praesentium debitis nulla ratione, inventore nisi fuga libero, quam quae voluptas. Ipsa praesentium
                laboriosam iste alias.</p>
            <p> Lorem lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo dignissimos aperiam quod non enim numquam illum quam amet voluptatum sequi repellendus quia, facere tenetur eum nobis quidem quas commodi repellat.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis officia doloremque quasi sunt cum enim earum eveniet sapiente vero laborum, rerum voluptatibus totam, repellendus incidunt omnis itaque, tenetur ex. Quae, magni eveniet? Labore
                voluptatum similique mollitia, quisquam accusantium odio rem impedit nesciunt maiores facilis tempora iste est dolores dolor debitis consectetur hic ex iure, in possimus natus iusto vel sint! Dolorum iure consectetur debitis accusantium
                provident aspernatur iusto ea neque, quasi nihil amet tenetur delectus dignissimos fuga exercitationem! Assumenda earum quod nemo dignissimos quam dicta laborum quibusdam! Vero, est deleniti culpa sed tempore sunt delectus doloremque eos!
                Distinctio ex repellendus veniam hic deserunt aliquid! Quam, magnam, suscipit molestias facere eum sed rem eaque accusantium in aperiam, ex obcaecati soluta nam? Enim accusamus minus sed! Dolorem, molestiae modi! Iusto quas inventore facilis
                at beatae qui cum. Distinctio soluta, dolores repudiandae, atque molestiae voluptatum quod accusantium illum omnis dolorum nostrum, in nihil voluptatem quae amet! Ea, facere atque! Id, modi. Qui, quo. Eum quam esse amet dolore quibusdam
                nisi iste odit rem quidem repellendus atque officiis fuga mollitia dolor, dolores, officia distinctio! Incidunt perferendis ipsam numquam, praesentium debitis nulla ratione, inventore nisi fuga libero, quam quae voluptas. Ipsa praesentium
                laboriosam iste alias.</p>
            <p> Lorem lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia consequatur animi et sequi. Commodi neque beatae praesentium numquam, debitis ipsum sint iure quo a necessitatibus cupiditate quibusdam ad sit molestiae.</p>
        </div>
    </section>
    <section>
        <div class="imgBx smanjenje ">
            <img src="../../assets/img/pexels-lumn-604969.jpeg ">
        </div>
        <div class="content ">
            <h2>Apple Watch</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis officia doloremque quasi sunt cum enim earum eveniet sapiente vero laborum, rerum voluptatibus totam, repellendus incidunt omnis itaque, tenetur ex. Quae, magni eveniet? Labore
                voluptatum similique mollitia, quisquam accusantium odio rem impedit nesciunt maiores facilis tempora iste est dolores dolor debitis consectetur hic ex iure, in possimus natus iusto vel sint! Dolorum iure consectetur debitis accusantium
                provident aspernatur iusto ea neque, quasi nihil amet tenetur delectus dignissimos fuga exercitationem! Assumenda earum quod nemo dignissimos quam dicta laborum quibusdam! Vero, est deleniti culpa sed tempore sunt delectus doloremque eos!
                Distinctio ex repellendus veniam hic deserunt aliquid! Quam, magnam, suscipit molestias facere eum sed rem eaque accusantium in aperiam, ex obcaecati soluta nam? Enim accusamus minus sed! Dolorem, molestiae modi! Iusto quas inventore facilis
                at beatae qui cum. Distinctio soluta, dolores repudiandae, atque molestiae voluptatum quod accusantium illum omnis dolorum nostrum, in nihil voluptatem quae amet! Ea, facere atque! Id, modi. Qui, quo. Eum quam esse amet dolore quibusdam
                nisi iste odit rem quidem repellendus atque officiis fuga mollitia dolor, dolores, officia distinctio! Incidunt perferendis ipsam numquam, praesentium debitis nulla ratione, inventore nisi fuga libero, quam quae voluptas. Ipsa praesentium
                laboriosam iste alias.</p>
            <p> Lorem lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, animi. Aut expedita tenetur eveniet in, velit repudiandae reprehenderit dolor error laboriosam nostrum dolorum omnis veniam. Sequi qui nulla quas numquam?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis officia doloremque quasi sunt cum enim earum eveniet sapiente vero laborum, rerum voluptatibus totam, repellendus incidunt omnis itaque, tenetur ex. Quae, magni eveniet? Labore
                voluptatum similique mollitia, quisquam accusantium odio rem impedit nesciunt maiores facilis tempora iste est dolores dolor debitis consectetur hic ex iure, in possimus natus iusto vel sint! Dolorum iure consectetur debitis accusantium
                provident aspernatur iusto ea neque, quasi nihil amet tenetur delectus dignissimos fuga exercitationem! Assumenda earum quod nemo dignissimos quam dicta laborum quibusdam! Vero, est deleniti culpa sed tempore sunt delectus doloremque eos!
                Distinctio ex repellendus veniam hic deserunt aliquid! Quam, magnam, suscipit molestias facere eum sed rem eaque accusantium in aperiam, ex obcaecati soluta nam? Enim accusamus minus sed! Dolorem, molestiae modi! Iusto quas inventore facilis
                at beatae qui cum. Distinctio soluta, dolores repudiandae, atque molestiae voluptatum quod accusantium illum omnis dolorum nostrum, in nihil voluptatem quae amet! Ea, facere atque! Id, modi. Qui, quo. Eum quam esse amet dolore quibusdam
                nisi iste odit rem quidem repellendus atque officiis fuga mollitia dolor, dolores, officia distinctio! Incidunt perferendis ipsam numquam, praesentium debitis nulla ratione, inventore nisi fuga libero, quam quae voluptas. Ipsa praesentium
                laboriosam iste alias.</p>
            <p> Lorem lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam corporis, asperiores praesentium necessitatibus vero ducimus odio. Maiores repellat illum nisi architecto omnis. Numquam vel odio harum dolorum deleniti, eum quas.
            </p>
        </div>
    </section>
    <section>
        <div class="imgBx smanjenje ">
            <img src="../../assets/img/pexels-lumn-604969.jpeg ">
        </div>
        <div class="content ">
            <h2>Apple Watch</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis officia doloremque quasi sunt cum enim earum eveniet sapiente vero laborum, rerum voluptatibus totam, repellendus incidunt omnis itaque, tenetur ex. Quae, magni eveniet? Labore
                voluptatum similique mollitia, quisquam accusantium odio rem impedit nesciunt maiores facilis tempora iste est dolores dolor debitis consectetur hic ex iure, in possimus natus iusto vel sint! Dolorum iure consectetur debitis accusantium
                provident aspernatur iusto ea neque, quasi nihil amet tenetur delectus dignissimos fuga exercitationem! Assumenda earum quod nemo dignissimos quam dicta laborum quibusdam! Vero, est deleniti culpa sed tempore sunt delectus doloremque eos!
                Distinctio ex repellendus veniam hic deserunt aliquid! Quam, magnam, suscipit molestias facere eum sed rem eaque accusantium in aperiam, ex obcaecati soluta nam? Enim accusamus minus sed! Dolorem, molestiae modi! Iusto quas inventore facilis
                at beatae qui cum. Distinctio soluta, dolores repudiandae, atque molestiae voluptatum quod accusantium illum omnis dolorum nostrum, in nihil voluptatem quae amet! Ea, facere atque! Id, modi. Qui, quo. Eum quam esse amet dolore quibusdam
                nisi iste odit rem quidem repellendus atque officiis fuga mollitia dolor, dolores, officia distinctio! Incidunt perferendis ipsam numquam, praesentium debitis nulla ratione, inventore nisi fuga libero, quam quae voluptas. Ipsa praesentium
                laboriosam iste alias.</p>
            <p> Lorem lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, animi. Aut expedita tenetur eveniet in, velit repudiandae reprehenderit dolor error laboriosam nostrum dolorum omnis veniam. Sequi qui nulla quas numquam?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis officia doloremque quasi sunt cum enim earum eveniet sapiente vero laborum, rerum voluptatibus totam, repellendus incidunt omnis itaque, tenetur ex. Quae, magni eveniet? Labore
                voluptatum similique mollitia, quisquam accusantium odio rem impedit nesciunt maiores facilis tempora iste est dolores dolor debitis consectetur hic ex iure, in possimus natus iusto vel sint! Dolorum iure consectetur debitis accusantium
                provident aspernatur iusto ea neque, quasi nihil amet tenetur delectus dignissimos fuga exercitationem! Assumenda earum quod nemo dignissimos quam dicta laborum quibusdam! Vero, est deleniti culpa sed tempore sunt delectus doloremque eos!
                Distinctio ex repellendus veniam hic deserunt aliquid! Quam, magnam, suscipit molestias facere eum sed rem eaque accusantium in aperiam, ex obcaecati soluta nam? Enim accusamus minus sed! Dolorem, molestiae modi! Iusto quas inventore facilis
                at beatae qui cum. Distinctio soluta, dolores repudiandae, atque molestiae voluptatum quod accusantium illum omnis dolorum nostrum, in nihil voluptatem quae amet! Ea, facere atque! Id, modi. Qui, quo. Eum quam esse amet dolore quibusdam
                nisi iste odit rem quidem repellendus atque officiis fuga mollitia dolor, dolores, officia distinctio! Incidunt perferendis ipsam numquam, praesentium debitis nulla ratione, inventore nisi fuga libero, quam quae voluptas. Ipsa praesentium
                laboriosam iste alias.</p>
            <p> Lorem lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam corporis, asperiores praesentium necessitatibus vero ducimus odio. Maiores repellat illum nisi architecto omnis. Numquam vel odio harum dolorum deleniti, eum quas.
            </p>
        </div> -->
<!-- </section>

</div> -->