<div class="container m">
    <h1 class="text-center mt-5 wed-h">Wedding Gallery</h1>
    <hr>
    <h4 class="wed-c">Check some of our amazing wedding photos. We had the chance to forever mark the most valuable moments of our clients' life.</h4>
    <div class="slideshow">
        <div class="slider">
            <span style="--i:1;"><img src="/assets/images/wedding/wed1.jpg" alt=""></span>
            <span style="--i:2;"><img src="/assets/images/wedding/wed2.jpg" alt=""></span>
            <span style="--i:3;"><img src="/assets/images/wedding/wed3.jpg" alt=""></span>
            <span style="--i:4;"><img src="/assets/images/wedding/wed4.jpg" alt=""></span>
            <span style="--i:5;"><img src="/assets/images/wedding/wed5.jpg" alt=""></span>
            <span style="--i:6;"><img src="/assets/images/wedding/wed6.jpg" alt=""></span>
            <span style="--i:7;"><img src="/assets/images/wedding/wed7.jpg" alt=""></span>
            <span style="--i:8;"><img src="/assets/images/wedding/wed8.jpg" alt=""></span>
        </div>
    </div>
</div>