  <div class="trry"></div>
<section class="banner container d-flex justify-content-between align-items-center">
  
    <div class="content text-center">
        <h1 class="text fs-1 decor">Photography is the story <br> I fail to put into words.</h1>
    </div>
    <div class="gadget">
        <img src="../../assets/img/asa.png" class="fotic look" alt="">
        <img src="../../assets/img/Untitlegfdd-2.png" class="sjena look" alt="">

    </div>
   <!--<div class="maaxw"></div>
    <div class="maaxw2"></div>
    <div class="maaxw3"></div>
    <div class="maaxw4"></div>--> 
</section>
