<section class="banner d-flex justify-content-center align-items-center">
    <div class="content text-center">
        <h1 class="text fs-1 decor">Photography is the story <br> I fail to put into words.</h1>
    </div>
</section>

<!-- cards  -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class="blk clk1">
                <div class="mio text-center">
                    <div class="tree">
                        <h1>Nature</h1>
                        <div class="btn bcck" routerLink="/nature"> Gallery</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class="blk clk2">
                <div class="mio text-center">
                    <div class="tree">
                        <h1>Food</h1>
                        <div class="btn bcck" routerLink="/food"> Gallery</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class="blk clk3">
                <div class="mio text-center">
                    <div class="tree">
                        <h1>Wedding</h1>
                        <div class="btn bcck" routerLink="/wedding"> Gallery</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- reviews  -->

<section id="reviews">


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h2>"A perfect company to boost your portfolio up!"</h2>
                <img src="/assets//images/reviews/model.jpg" class="review-img" alt="">
                <em>Monica, Vienna</em>
            </div>
            <div class="carousel-item">
                <h2>"The company made just my most beatiful day even better. I totally recommend!"</h2>
                <img src="/assets//images/reviews/model4.jpg" class="review-img" alt="">
                <em>Alice, Salzburg</em>
            </div>
            <div class="carousel-item">
                <h2>"It will be good to remember for this day, some years after our kid is grown up."</h2>
                <img src="/assets//images/reviews/model3.jpg" class="review-img" alt="">
                <em>Markus, Linz</em>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden ">Previous</span>
        </button>
        <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden ">Next</span>
        </button>
    </div>


</section>