.banner {
    position: relative;
<<<<<<< HEAD
    background: linear-gradient(to right, #BF953F, #FBF5B7, #FCF6BA, #AA771C);
    height: 100vh;
}

.banner:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background-image: url(/assets/wave.png);
    background-size: cover;
    background-repeat: no-repeat;
=======
    height: 100vh;
}
//.banner:before {
//    content: "";
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    width: 100%;
//    height: 35%;
//    background-image: url(/assets/wave.png);
//    background-size: cover;
//    background-repeat: no-repeat;
//
//}

.look {
    width: 100%;
    height: 100%;

>>>>>>> b49b5f037f05a34a087c4aafab79c51a4d62f7e6
}

.decor {
    font-family: 'Montserrat', sans-serif;
}
<<<<<<< HEAD

// cards 
.blk {
    margin: 15%;
    position: relative;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif, italic;
    width: 100%;
    height: 70vh;
    z-index: 70;
    transition: ease-in-out 0.3s;
}

.clk1 {
    background-image: url('../../assets/img/614E1EED-80B2-41DC-9B51-33D8C69C0A17_1_201_a.jpeg');
}

.clk1:hover {
    background-image: url('../../assets/img/pexels-clive-kim-4220967.jpeg');
}

.clk2 {
    background-image: url('../../assets/img/2C9FA429-C31F-4257-B32C-5A31CE80CFEE_1_201_a.jpeg');
}

.clk2:hover {
    background-image: url('../../assets/img/pexels-lumn-604969.jpeg');
}

.clk3 {
    background-image: url('../../assets/img/61BB5C8E-F9D2-4C7D-97E7-26FE7CB2585A_1_201_a.jpeg');
}

.clk3:hover {
    background-image: url('../../assets/img/pexels-dominika-roseclay-1244700.jpeg');
}

.mio {
    width: 100%;
    height: 100%;
}

.mio:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.tree {
    padding-top: 50%;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.tree:hover {
    opacity: 1;
}

.bcck {
    width: 7rem;
    color: wheat;
    margin-top: 2rem;
    border: 3px solid #BF953F;
    box-shadow: 3px 9px 16px #B38728, -3px -3px 10px #B38728, inset 14px 14px 26px #B38728, inset -3px -3px 15px #B38728;
    border-radius: 40px;
}

// reviews 
#reviews {
    text-align: center;
    background-color: #FCF6BA;
}

.review-img {
    width: 300px;
    height: 200px;
    border-radius: 50%;
    margin: 5%;
}

h2 {
    font-family: 'Dancing Script', cursive;
    margin-top: 5%;
=======
.trry {
    position: absolute;
    width: 40%;
    height: 70%;

  background-attachment: fixed;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0% 38%);
  background:  #FBF5B7;
    box-shadow: #BF953F 5px 5px;
}

.sjena {
    width: 100%;
    height: 10%;
    position: relative;
    animation-name: due;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.48,.65,.38,.28);
    margin-top: 2rem;
}
@keyframes due {
  0%   { width: 100%; margin-left: 0; }
  100%  {width: 80%; margin-left: 20px;}
}


.gadget {
    
    width: 400px;
    height: 300px;
}


.fotic {
    position: relative;
    animation-name: trece;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.48,.65,.38,.28);
}

@keyframes trece {
  0%   { top: 0px; transform: rotateZ(0deg);}
  100%  {top: 50px; transform: rotateZ(-10deg);}
} 

.maaxw {
    position: absolute;
    background-color: #BF953F;
    right: 52%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation-name: points;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.maaxw2 {
    position: absolute;
    background-color: #BF953F;
    right: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation-name: points2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.maaxw3 {
    position: absolute;
    background-color: #BF953F;
    right: 48%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation-name: points3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.maaxw4 {
    position: absolute;
    background-color: #BF953F;
    animation-name: points4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    right: 46%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@keyframes points {
    0%   { opacity: 0.5;}
    100%  {opacity: 0.9;}
    
}
@keyframes points2 {
    0%   { opacity: 0.9;}
    100%  {opacity: 0.1;}
    
}
@keyframes points3 {
    0%   { opacity: 0.4;}
    100%  {opacity: 0.7;}
    
}
@keyframes points4 {
    0%   { opacity: 0.1;}
    100%  {opacity: 0.9;}
    
>>>>>>> b49b5f037f05a34a087c4aafab79c51a4d62f7e6
}