<!-- hero  -->

<div class="trry"></div>
<section class="banner container d-flex justify-content-between align-items-center">

    <div class="content text-center">
        <h1 class="text fs-1 decor">Photography is the story <br> I fail to put into words.</h1>
    </div>
    <div class="gadget">
        <img src="../../assets/img/asa.png" class="fotic look" alt="">
        <img src="../../assets/img/Untitlegfdd-2.png" class="sjena look" alt="">

    </div>
    <!--<div class="maaxw"></div>
    <div class="maaxw2"></div>
    <div class="maaxw3"></div>
    <div class="maaxw4"></div>-->
</section>


<!-- cards   -->

<div class="container">
    <h1 class="text-center" style="font-family: 'Montserrat', sans-serif;letter-spacing: 2px;text-transform: uppercase;">Our Galleries</h1>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto my-5">
            <div class="blk clk1">
                <div class="mio text-center">
                    <div class="tree">
                        <h1>Nature</h1>
                        <div class="btn bcck" routerLink="/nature"> Gallery</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-5 mx-auto">
            <div class="blk clk2">
                <div class="mio text-center">
                    <div class="tree">
                        <h1>Food</h1>
                        <div class="btn bcck" routerLink="/food"> Gallery</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto my-5">
            <div class="blk clk3">
                <div class="mio text-center">
                    <div class="tree">
                        <h1>Wedding</h1>
                        <div class="btn bcck" routerLink="/wedding"> Gallery</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<hr class="mx-auto mt-5" style="width: 6%; border-style:dotted none none; border-width:20px; border-color:#99582a; background-color: white; ">
<!-- icons -->

<section class="icons" style="margin-top:-5% ; margin-bottom:-5% ;">
    <div class="row">
    <div class="feature-box col-lg-4 col-sm-12">
        <i class="icon-decor fa-solid fa-euro-sign fa-4x"></i> 
    <h3 class="icon-heading">Quality = Price</h3><hr>
    <p id="icon">We always give our best to make your wishes come true</p>
</div>
<div class="feature-box col-lg-4 col-sm-12">
    <i class="icon-decor fa-solid fa-users fa-4x"></i>
    <h3 class="icon-heading">Elite clientele</h3><hr>
    <p id="icon">More than 2000 satisfied clients who took our services</p>
</div>
<div class="feature-box col-lg-4 col-sm-12">
    <i class="icon-decor fa-solid fa-truck-fast fa-4x"></i>
    <h3 class="icon-heading">Safest shipping</h3><hr>
    <p id="icon">Your orders will be shipped fast and arrive in perfect condition</p>
</div>
</div>
    </section> 
    <hr class="mx-auto mt-5" style="width: 6%; border-style:dotted none none; border-width:20px; border-color:#99582a; background-color: white; ">

<!-- reviews  -->

<section id="reviews" class="dstnc">


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <!-- <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>-->
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <div class="d-flex justify-content-center">

                    <div class="row col-6 clients">
                        <div class="col-lg-4 col-sm-12">
                            <img class="clim brdi" src="../../assets/images/reviews/model.jpg">
                        </div>
                        <div class="quote col-lg-8 col-sm-12">
                            <blockquote>
                                 " The best company to boost your portfolio up with professional photos! "
                                <hr class="clients-hr">
                                <cite>&#8212; Monica, Vienna</cite>
                            </blockquote>

                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">

                    <div class="row col-6 clients">
                        <div class="col-lg-4 col-sm-12 ">
                            <img class="clim brdi" src="../../assets/images/reviews/model2.jpg">
                        </div>
                        <div class="quote col-lg-8 col-sm-12">
                            <blockquote>
                                 " This company made the most beatiful day of my life even better. I totally recommend them! "
                                <hr class="clients-hr">
                                <cite>&#8212; Alice, Salzburg</cite>
                            </blockquote>

                        </div>
                    </div>
                </div>


            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">

                    <div class="row col-6 clients justify-content-center">
                        <div class="col-lg-4 col-sm-12">
                            <img class="clim brdi" src="../../assets/images/reviews/model3.jpg">
                        </div>
                        <div class=" quote col-lg-8 col-sm-12">
                            <blockquote>
                                 " We are more than amazed. They made our memories imprinted to be shown and remembered. "
                                <hr class="clients-hr">
                                <cite>&#8212; Markus, Linz</cite>
                            </blockquote>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class=" fa fa-angle-left"  style="font-size:54px; color:#C09741" aria-hidden="true"></span>
        <span class="visually-hidden ">Previous</span>
      </button>
        <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span  class=" fa fa-angle-right"  style="font-size:54px; color:#C09741" aria-hidden="true"></span>
        <span class="visually-hidden ">Next</span>
      </button>
    </div>


</section>