.banner {
    position: relative;
    background:linear-gradient(to right, #BF953F,  #FBF5B7, #FCF6BA,#AA771C);
    height: 100vh;
}
.banner:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 215px;
    background-image: url(/assets/wave.png);
    background-size: cover;
    background-repeat: no-repeat;

}