<nav class="navbar fixed-top navbar-expand-lg navbar-light p-md-5 nav-bg ">
    <div class="container-fluid">
        <a class="navbar-brand nav-logo" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active nav-decor " aria-current="page" routerLink="/">Home &nbsp; |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-decor" routerLink="/about"> About &nbsp; |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-decor " href="#bla">Contact &nbsp; |</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active nav-decor" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gallery 
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/wedding">Weddings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/nature">Nature</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/food">Food</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>