<div class="container ">
    <h1 class="text-center mt-5 wed-h">Food Gallery</h1> <hr>
    <h4 class="wed-c">Check some of our amazing culinary photos, we had the chance to make whilst working with the finest chefs around the world!</h4>
    <div class="slideshow">
<div class="slider">
    <span style="--i:1;"><img src="/assets/images/food/fo8.jpg" alt=""></span>
    <span style="--i:2;"><img src="/assets/images/food/fo7.jpg" alt=""></span>
    <span style="--i:3;"><img src="/assets/images/food/fo6.jpg" alt=""></span>
    <span style="--i:4;"><img src="/assets/images/food/fo4.jpg" alt=""></span>
    <span style="--i:5;"><img src="/assets/images/food/fo5.jpg" alt=""></span>
    <span style="--i:6;"><img src="/assets/images/food/fo3.jpg" alt=""></span>
    <span style="--i:7;"><img src="/assets/images/food/fo2.jpg" alt=""></span>
    <span style="--i:8;"><img src="/assets/images/food/fo1.jpg" alt=""></span>
</div>
</div>
</div>

