#reviews {
    text-align: center;
}

.review-img {
    width: 300px;
    height: 300px;
    margin: 5%;
}

h2 {
    font-family: 'Dancing Script', cursive;
    margin-top: 5%;
}



.clim {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}



blockquote .fa {
    color: red;
    margin: 1rem;
}

.clients-hr {
    border-top: .05rem solid rgb(230, 20, 20);
}

.brdi {
    border: solid 1px red;
    padding: 0.2rem;
    box-shadow: 0px 0 5px gold inset;
}

.dstnc {
    margin: 8rem 0;
}

.carousel-control-prev-icon {
    color: black;
    background-color: black;
}


@media (max-width: 778px) {  
    .clim {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        top: 50px;
    }
    
}